{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Manager | Add Contacts</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
<body>
    <nav class="main-nav">
      <div class="new-contact-link">
        <a href="/add_contacts">Add New Contact <span class="lnr lnr-users"></span></a>
      </div>
      <div class="contact-search-link">
        <a href="/">Search Your Contacts <span class="lnr lnr-magnifier"></span></a>
      </div>
    </nav>
    <h1>Search For Contacts</h1>
    <form id="searchform" action="{% url 'contact_search' %}" method="get" accept-charset="utf-8">{% csrf_token %}
        <h4>Enter Info of the Contact You Seek</h4>
        <p>
        <label for="first_name">First Name:</label>
        <input class="searchfield" id="first_name" name="first_name" type="text" >
        </p>
        <p>
        <label for="last_name">Last Name:</label>
        <input class="searchfield" id="last_name" name="last_name" type="text" >
        </p>
        <p>
        <label for="phone_number">Phone Number:</label>
        <input class="searchfield" id="phone_number" name="phone_number" type="text" >
        </p>
        <p>
        <label for="email_address">Email Address:</label>
        <input class="searchfield" id="email_address" name="email_address" type="text" >
        </p>
        <button class="searchbutton" type="submit">
          Search Contact <span class="lnr lnr-magnifier"></span>
        </button>
      </form>

      <div class="contact_list">
        {% for contact in contacts %}
            <div class="contact-demo collapsed">
              <div class="contact-header {% cycle 'red' 'green' 'blue' %}">
                <div class="avatar">
                  <div class="initials">
                    {{ contact.first_name }} {{ contact.last_name }}
                  </div>
                </div>
                <div id="expander-icon">
                  <span class="lnr our-expander"></span>
                </div>
              </div>
              <div class="demo-info">
                  <div class="row">
                    <div class="fn">
                      <label>First Name</label>
                      <input id="fn-input" value={{ contact.first_name }} readonly>
                    </div>
                    <div class="ln">
                      <label>Last Name</label>
                      <input id="ln-input" value={{ contact.last_name }} readonly>
                    </div>
                  </div>
                  <div class="row">
                    <div class="pn">
                      <label>Phone Number</label>
                      <input id="pn-input" value={{ contact.phone_number }} readonly>
                    </div>
                    <div class="ea">
                      <label>Email Address</label>
                      <input id="ea-input" value={{ contact.email_address }} readonly>
                    </div>
                  </div>
              </div>
          </div>
        {% endfor %}
      </div>

      <div class="fixed-stuff">
	<div class='landscape'>
	  <div class='sun hidden-landscape'>
		<div class="ray_box">
			<div class="ray ray1"></div>
			<div class="ray ray2"></div>
			<div class="ray ray3"></div>
			<div class="ray ray4"></div>
			<div class="ray ray5"></div>
			<div class="ray ray6"></div>
			<div class="ray ray7"></div>
			<div class="ray ray8"></div>
			<div class="ray ray9"></div>
			<div class="ray ray10"></div>
		</div>
	  </div>
	  <div class="cloud hidden-landscape cloud-1"></div>
	  <div class="cloud hidden-landscape cloud-2"></div>
	  <div class="cloud hidden-landscape cloud-3"></div>
	  <div class="cloud hidden-landscape cloud-4"></div>
	  <div class="cloud hidden-landscape cloud-5"></div>
	  <div class="cloud hidden-landscape cloud-6"></div>
	  <div class='layer l0'>
    <div class='hills'>
      <div class="hill hidden-landscape"><div class="snow"></div></div>
      <div class="hill hidden-landscape"><div class="snow"></div></div>
      <div class="hill hidden-landscape"><div class="snow"></div></div>
      <div class="hill hidden-landscape"><div class="snow"></div></div>
      <div class="hill hidden-landscape"><div class="snow"></div></div>
      <div class="hill hidden-landscape"><div class="snow"></div></div>
      <div class="hill hidden-landscape"><div class="snow"></div></div>
      <div class="hill hidden-landscape"><div class="snow"></div></div>
	  <div class="hill hidden-landscape"><div class="snow"></div></div>
	  <div class="hill hidden-landscape"></div>
	  <div class="hill hidden-landscape"></div>
	  <div class="hill hidden-landscape"></div>
	  <div class="hill hidden-landscape"></div>
	  <div class="hill hidden-landscape"></div>
	  <div class="hill hidden-landscape"></div>
	  <div class="hill hidden-landscape"></div>
	  <div class="hill hidden-landscape"></div>
	  <div class="hill hidden-landscape"></div>
	  <div class="hill hidden-landscape"></div>
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/search.js' %}"></script>
</body>
</html>
