
  {% for contact in contacts %}
      <div class="contact-demo collapsed">
        <div class="contact-header {% cycle 'red' 'green' 'blue' %}">
          <div class="avatar">
            <div class="initials">
              {{ contact.first_name }} {{ contact.last_name }}
            </div>
          </div>
          <div id="expander-icon">
            <span class="lnr our-expander"></span>
          </div>
        </div>
        <div class="demo-info">
            <div class="row">
              <div class="fn">
                <label>First Name</label>
                <input id="fn-input" value={{ contact.first_name }} readonly>
              </div>
              <div class="ln">
                <label>Last Name</label>
                <input id="ln-input" value={{ contact.last_name }} readonly>
              </div>
            </div>
            <div class="row">
              <div class="pn">
                <label>Phone Number</label>
                <input id="pn-input" value={{ contact.phone_number }} readonly>
              </div>
              <div class="ea">
                <label>Email Address</label>
                <input id="ea-input" value={{ contact.email_address }} readonly>
              </div>
            </div>
        </div>
    </div>
  {% endfor %}
